.nearly {
    text-align: center;
}

.content {
    margin: 0 20px;
    max-width: 22%;
    width: 100%;
    min-height: 500px;
    position: relative;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainHeader {
    font-size: 32px;
    letter-spacing: -1px;
}
