.formInput {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formInput:invalid {
    border: 2px dashed var(--accent-color);
}

.w15 {
    width: 15px;
}

