

.btn:hover {
    cursor: pointer;
    transition: all .30s ease-in;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
    color: var(--accent-color);
    background-color: white;
}

.btn {
    display: inline-block;
    color: white;
    padding: 1em;
    background-color: var(--accent-color);
    transition: all .30s ease-in;
    margin: 0 1em;
}

.displayNone {
    display: none;
}

.buy {
    margin-top: 1em;
    margin-bottom: 0;
}

.btnSubmit {
    border: none;
}