@mixin color{
  background-color: lighten(mix(crimson, white), 20%);
  color: lighten(black, 30%);
}

.gitRepo {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  composes: container from '../../css/style.css';
}

.gitRepoBlock {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  @include color;

  span {
    width: 30%;
  }
}
