/* Nearly */
.containerMain {
    margin: 0 auto;
    padding: 50px;
    composes: container from '../css/style.css';
}

/* Subscription */
.containerSubscription {
    padding: 50px 0;
    composes: container from '../css/style.css';
}

.subscription {
    padding-top: 200px;
    padding-bottom: 150px;
    color: white;
    text-align: center;
    background-image: url('../assets/images/Happi-dais.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    font-size: 40px;
    margin: 0;
}

.content {
    padding: 40px 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 30%;
    flex-grow: 0;
}

.cost {
    margin: 0 auto;
    text-align: left;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid white;
}

.infoText {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.5em;
}

.infoText:first-line{
    font-size: 25px;
    line-height: 2.5em;
}