.header {
    padding-top: 20px;
    min-height: 110px;
    background: white;
    border-bottom: 1px solid #d3d3d3;
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {
    background: white;
    composes: container from '../../css/style.css';
}

.logo {
    float: left;
    height: 85px;
    width: 250px;
    background-image: url("../../assets/images/logo.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.navList {
    padding-left: 50px;
}

.navItem {
    float: left;
    padding: 30px 0 0 50px;
}


.navLink {
    display: block;
    text-align: center;
}

.navLink:hover {
    color: var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}