@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerRegular.woff2') format('woff2'),
    url('../assets/fonts/MullerRegular.woff') format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url('../assets/fonts/MullerBold.woff2') format('woff2'),
    url('../assets/fonts/MullerBold.woff') format('woff');
    font-weight: 700;
}

:root {
    --accent-color: crimson;
}

* {
    box-sizing: border-box;
}

html {
    line-height: 1;
    font-family: 'Muller', serif;
}

h1, h2 {
    font-family: 'Spectral', serif;;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    cursor: pointer;
    transition: all .30s ease-in;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.25));
    color: var(--accent-color);
}

img {
    max-width: 100%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    margin: auto;
    padding: 0 20px;
    max-width: 1600px;
    background: #f5f5f5;
}

/* Contact-us */
.container-contact-us {
    margin: 0 auto;
    padding: 50px;
}

.contact-us-header {
    margin: 0;
}

.message {
    position: absolute;
    bottom: 50%;
    left: 100%;
    padding: 5px;
    background-color: rgba(1, 1, 1, 0.5);
    color: white;
}
