.container {
    padding-top: 30px;
    composes: container from '../../css/style.css';
}

.info {
    vertical-align: top;
}

.infoBlock {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.header {
    font-family: 'Spectral', serif;
    font-weight: 700;
}

.socialList, .copyright {
    display: inline-block;
    width: 48%;
}

.socialItem {
    display: inline-block;
}

.socialIcon:hover{
    fill: var(--accent-color);
    transition: all .30s ease-in;
}

.copyright {
    text-align: right;
    vertical-align: top;
}