.table {
    border: solid 1px black;
    margin-top: 1em;
    width: 100%;
}

.tableHeader {
    border: solid 1px gray;
    border-bottom: solid 3px var(--accent-color);
    color: black;
}

.tableGlobalFilterHeader {
    text-align: left;
}

.tableGlobalFilter {
    padding: 0.5em;
    display: inline-block;
}

.tableDefaultFilter {
    margin: 0.5em;
}

.tableGlobalFilterInput {
    font-size: 1.1rem;
    border: 0;
    background-color: transparent;
}

.tableCell {
    padding: 10px;
    border: solid 1px gray;
}

.pagination {
    padding: 0.5em;
}