.content {
    margin: 0 20px;
    max-width: 22%;
    width: 100%;
    min-height: 500px;
    position: relative;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-1, .content-2, .content-3 {
    padding: 15px;
    color: white;
    text-align: left;
}

.content-1 {
    background-image: url("../../assets/images/DSC09806.jpg");
}

.content-2 {
    background-image: url("../../assets/images/IMG_7179.jpg");
}

.content-3 {
    background-image: url("../../assets/images/Axov.jpg");
}

.mainHeader {
    font-size: 32px;
    letter-spacing: -1px;
}

.header, .author {
    margin: 0;
    padding-top: 20px;
}

.date {
    margin: 0;
    font-family: 'Spectral', serif;
    font-weight: 700;
    font-size: 25px;
}

.info {
    position: absolute;
    bottom: 30px;
    padding-right: 15px;
}

.genre {
    margin: 0;
}

.name {
    font-size: 40px;
}